.env
node_modules
build
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.Rproj.user

.Rhistory

.DS_Store
dist
dist-ssr


src/main/static/rcbms/data/*
src/main/static/rcbms/*.html
src/main/static/rcbms/*.js
src/main/static/rcbms/**/*.js
src/main/static/rcbms/**/*.html
src/main/static/rcbms/output/*
src/main/static/rcbms/_book/*